body{
  width: 625px;
  height: 600px;
  align-items: center;
  box-sizing:border-box;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}